@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Gilroy', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-x pan-y;
  height: 100%;
  background: #121212;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Remove focus styling on buttons */
button:focus {
  outline: none;
}
